
{{- $type := .Get "type" | default (.Get 0) -}}

{{ $pages := where .Site.RegularPages "Type" "in" $type }}
{{ $notHidden := where .Site.RegularPages "Params.hidden" "!=" true }}
{{ $filtered := ($pages | intersect $notHidden) }}

{{- $tag := .Get "tag" | default (.Get 1) -}}
{{ if ne (len $tag) 0 }}
    {{ $tags := slice $tag }}
    {{ $matchingTag := where .Site.RegularPages "Params.tags" "intersect" $tags }}
    {{ $filtered = ($filtered | intersect $matchingTag) }}
{{ end }}

<section class="article-list">
    <div class="subsection-list">
        <div class="article-list--tile">
            {{ range $filtered }}
                {{ partial "article-list/tile" (dict "context" . "size" "250x150" "Type" "taxonomy" "params" .Params) }}
            {{ end }}
        </div>
    </div>
</section>
